// contact area content start
.contact_area {
    border: $border;
    margin: 100px 0px;
    @include xs{
        margin: 50px 0px;
    }
    @include sm{
        margin: 50px 0px;
    }
    @include md{
        margin: 80px 0px;
    }
    @include lg{
        margin: 80px 0px;
    }
    @include xl{
        margin: 80px 0px;
    }
    .contact_area_content {
        border: $border;
        // contact content start
        .contact_content {
            border: $border;
            margin-top: 50px;
            @include xs{
                margin-top: 30px;
            }
            @include sm{
                margin-top: 40px;
            }
            @include md{
                margin-top: 50px;
            }
            @include lg{
                margin-top: 50px;
            }
            @include xl{
                margin-top: 50px;
            }
            // contact_form start
            .contact_form {
                border: $border;
                .contact_text_area {
                    border: $border;
                    .contact_text {
                        border: $border;
                        font-size: 35px;
                        color: $black;
                        font-family: $font_bangla;
                        line-height: 50px;
                        @include xs{
                            font-size: 18px;
                            line-height: 40px;
                            text-align: justify;
                        }
                        @include sm{
                            font-size: 20px;
                            line-height: 46px;
                            text-align: justify;
                        }
                        @include md{
                            font-size: 22px;
                            text-align: justify;
                        }
                        @include lg{
                            font-size: 26px;
                            text-align: justify;
                        }
                        @include xl{
                            font-size: 26px;
                            text-align: justify;
                        }
                        @include xxl{
                            font-size: 30px;
                            text-align: justify;
                        }
                    }
                }
                // input_area start
                .input_area {
                    border: $border;
                    margin-top: 100px;
                    @include xs{
                        margin-top: 50px;
                    }
                    @include sm{
                        margin-top: 50px;
                    }
                    @include md{
                        margin-top: 70px;
                    }
                    @include lg{
                        margin-top: 70px;
                    }
                    .contact_input_area {
                        border: $border;
                        gap: 30px;
                        display: grid;

                        .label_and_input {
                            border: $border;
                            label {
                                border: $border;
                                font-size: 35px;
                                color: $black;
                                font-family: $font_bangla;
                                width: 120px;
                                @include xs{
                                    font-size: 22px;
                                }
                                @include sm{
                                    font-size: 26px;
                                }
                                @include md{
                                    font-size: 28px;
                                }
                                @include lg{
                                    font-size: 30px;
                                }
                                @include xl{
                                    font-size: 30px;
                                }
                                @include xxl{
                                    font-size: 32px;
                                }
                            }
                            input {
                                border: $border;
                                font-size: 35px;
                                color: $black;
                                font-family: $font_bangla;
                                outline: 0;
                                border-bottom: 1px solid $black;
                                @include xs{
                                    font-size: 22px;
                                }
                                @include sm{
                                    font-size: 26px;
                                }
                                @include md{
                                    font-size: 28px;
                                }
                                @include lg{
                                    font-size: 30px;
                                }
                                @include xxl{
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                    .contact_message_area {
                        border: $border;
                        margin-top: 120px;
                        @include xs{
                            margin-top: 50px;
                        }
                        @include sm{
                            margin-top: 60px;
                        }
                        @include md{
                            margin-top: 80px;
                        }
                        @include lg{
                            margin-top: 130px;
                        }
                        textarea {
                            border: $border;
                            width: 100%;
                            height: 230px;
                            outline: 0;
                            border: 3px solid $brand_color;
                            font-size: 23px;
                            color: $black;
                            font-family: $font_bangla;
                            padding: 10px 30px;
                            @include xs{
                                height: 150px;
                                font-size: 16px;
                                padding: 15px 10px;
                            }
                            @include sm{
                                font-size: 26px;
                                padding: 15px 15px;
                            }
                            @include lg{
                                padding: 25px 30px;
                            }
                            @include xl{
                                padding: 25px 30px;
                            }
                            @include xxl{
                                padding: 25px 30px;
                            }
                        }
                    }
                    .contact_button_area {
                        border: $border;
                        justify-content: end;
                        display: flex;
                        .submit_button {
                            border: $border;
                            font-size: 30px;
                            color: $white;
                            font-family: $font_bangla;
                            background-color: $brand_color;
                            padding: 2px 16px;
                            transition-duration: .4s;
                            &:hover{
                                background-color: $hover_color;
                            }
                            @include xs{
                                font-size: 18px;
                            }
                            @include sm{
                                font-size: 20px;
                            }
                            @include md{
                                font-size: 26px;
                            }
                            @include lg{
                                font-size: 26px;
                            }
                            @include xl{
                                font-size: 28px;
                            }
                        }
                    }
                }
                // input_area end
            }
            // contact_form end
        }
        // contact content end
    }
}
// contact area content end
